body {
    font-family: "Segoe UI", "lucida grande", Arial;
    margin: 0;
    padding: 0;
}

body ::-webkit-scrollbar { width: 16px; height: 15px; background-color: #eaeaea; }
body ::-webkit-scrollbar-track { background-clip: padding-box; border: solid transparent; background-color: #eaeaea; }
body ::-webkit-scrollbar-track :vertical { border-width: 0 0 0 4px; }
body ::-webkit-scrollbar-track :horizontal { border-width: 4px 0 0 0; }
body ::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 #999, inset 0 -1px 0 #888;
}
body ::-webkit-scrollbar-thumb:vertical { min-height: 28px; }
body ::-webkit-scrollbar-thumb:horizontal { min-width: 28px; border-width: 1px 1px 5px 1px; border-top: 2px solid transparent; }
body ::-webkit-scrollbar-corner { background: transparent; background-color: #eaeaea; }
body ::-webkit-scrollbar-button { display: none; }

button {
    font-family: "Segoe UI", "lucida grande", Arial
}

header {
    background-color: #f8f8f8;
}

    header h1 {
        font-size: 80px;
        color: #004C66;
        margin: 0;
        padding-top: 20px;
        font-weight: normal;
    }

    header h2 {
        font-size: 25px;
        color: #004C66;
        margin: 0;
        font-weight: normal;
    }

    header .my-mood {
        height: 40px;
        font-size: 24px;
        padding: 25px 15px;
    }

    header .my-mood.opened {
        height: 150px;
    }

    header .my-mood .fa-smile-o {
        font-size: 36px;
        font-weight: bold;
    }

    header .my-mood .my-mood-question {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
    }

    header .my-mood .fa-angle-down {
        font-size: 44px;
        cursor: pointer;
    }

    header .mood-chooser {
        clear: both;
        display: none;
    }

h3 {
    font-size: 20px;
    color: #444;
    margin: 0;
    padding: 10px 10px 8px 10px;
    font-weight: normal;
}

h4 {
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 10px 0 20px 0;
}

p {
    font-size: 12px;
    color: #444;
    margin: 10px;
}


#topHeader {
    background-image: url("../images/background.png");
}

    #topHeader p {
        margin-left: 55px;
    }

#arrow {
    float: left;
    margin: 8px 15px 0 0;
    padding: 20px;
    background: url("../images/arrow.png") no-repeat;
}

.users {
    margin: 15px;
}

.user {
    margin: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}

    .user .info {
        display: inline-block; 
        vertical-align: top;
        margin-top: 0;
    }

    .user label.name {
        font-size: 20px;
        vertical-align: top;
    }

    .user .friend-mood-info {
        margin-top: 30px;
    }

    .user .friend-mood {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        margin: 0px 0 0 5px;
    }

    .user .avatar { text-decoration: none; display: inline-block; margin-right: 5px; }

.button {
    border: none;
    padding: 3px 15px 7px 15px;
}

.button,
.combobox .cmb-header,
.cmb-options ul li {
    font-size: 20px;
    cursor: pointer;
}

.button,
.combobox .cmb-header,
.cmb-options ul li {
    background: #efefef;
}

.button:hover,
.cmb-options ul li:hover {
    background: #eaeaea;
}

.combobox .cmb-header,
.cmb-options ul li {
    padding: 5px;
}

.submit {
    margin-top: 25px;
}

.cmb-location {
    margin-top: 10px;
}

.combobox .cmb-header {
    width: 400px;
    height: 35px;
    white-space: nowrap;
}

    .combobox .cmb-header .fa-caret-down {
        padding-right: 10px;
    }

.cmb-options {
    display: none;
    position: absolute;
    left: 15px;
    background-color: green;
    overflow: auto;
    height: 235px;
}

.cmb-options ul { padding: 0; }
.cmb-options ul, .cmb-options ul li { margin: 0; display: block; }

.cmb-options ul li {
    list-style-type: none;
    white-space: nowrap;
    width: 400px;
}

.cmb-options .text,
.combobox .cmb-header .text,
#myMood .text {
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    margin: 0 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
}
#moodOptions .text,
#moodHeader .text { 
    width: 300px; 
}

#countryOptions .text,
#countryHeader .text { 
    width: 360px; 
}

.cmb-options .id {
    display: none;
}


#profilePicture {
    float: left;
}

    #profilePicture img {
        margin: 20px 20px 0 20px;
    }

.show-map {
    display: inline-block; float: right; height: 20px; font-size: 18px; margin: 5px; cursor: pointer;
    vertical-align: top;
}

.home-page {
    display: inline-block; height: 30px; font-size: 18px; margin: 5px; cursor: pointer;
    vertical-align: top;
}

.intro {
    background-color: #ADDDE3;
    height: auto;
    width: 720px;
    padding: 10px;
}

.left {
    width: 35%;
    float: left;
    border-top: 1px solid #eee;
}

.right {
    width: 60%;
    float: right;
    border-top: 1px solid #eee;
}

.photoTile {
    float: left;
    width: 95px;
    height: 95px;
    overflow: hidden;
    margin: 0 5px 5px 0;
    display: block;
    position: relative;
    background-color: #ADDDE3;
    border: none;
}

    .photoTile img {
        margin: -2px;
        padding: 0;
    }

    .photoTile label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 5px;
        color: white;
        font-size: 11px;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    }

.buttonLink {
    margin: 5px;
    padding: 10px;
    background: #4479BA;
    color: white;
    text-decoration: none;
    display: inline-block;
}

    .buttonLink:hover {
        background: #6194d3;
    }

footer {
    padding-top: 30px;
    clear: both;
    font-size: 1em;
    height: 100px;
    text-align: center;
}